* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  outline: none;
}

body {
  font-family: "Qanelas", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Qanelas";
  src: url("./assets/fonts/Qanelas-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Qanelas";
  src: url("./assets/fonts/Qanelas-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Qanelas";
  src: url("./assets/fonts/Qanelas-SemiBold.ttf");
  font-weight: 600;
}